{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
	<section class="card card-body">
		
	<h1 class="display-1 text-center">Django App</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatum nulla commodi voluptas sunt quis velit vel eius facilis, numquam vero a. Officia deleniti voluptate vel quos necessitatibus eligendi tempora consequuntur quo voluptates temporibus aut impedit, eaque officiis similique veniam ipsa sint amet, neque, molestiae dolores inventore laboriosam vitae placeat velit numquam. Molestiae reprehenderit ut eos nihil inventore autem commodi vitae maxime deserunt culpa alias delectus eum incidunt ducimus officia mollitia quidem, ullam provident, quam aliquid corporis. Dicta, eius a eum! Temporibus, nam ipsa iure sit perferendis recusandae ex. Porro suscipit, cupiditate harum vitae nesciunt, tenetur ea officia fuga officiis.</p>
	<div class="text-center">
		<a class="btn btn-secondary" href="/signin">Signin</a>
		<a class="btn btn-dark" href="/signup">Signun</a>
	</div>
	</section>
</main>
{% endblock %}